.container-fluid #logo:hover{
    text-decoration: none;
}

.bg-primary {
    background-color: #8CD9BD !important;
}

footer {
    display: block;
  }

.footer {
    margin-top: 1rem;
}

html, body {
    height: 100%
}

body {
    overflow: "visible";
}

.searchBar {
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    margin-right:15%;
}

.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
}

section {
    min-height: 90vh;
}

.review-background {
    background-color: #6aa38f;
}

.cards {
    margin-top: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-secondary {
    background-color: #aecfc3 !important;
}

.border-secondary {
    background-color: #aecfc3 !important;
}

header {
    position: fixed;
    top:0;
}

.header-logo {
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -5%;
    z-index: 0;
}

.page-title {
    margin-left: 10%;
    margin-top: 2%;
}

h1 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(111, 178, 199, .6);
    z-index: 1;
}

.background {
    background: url("../img/hiking-banner.jpg");
    background-repeat: no-repeat;
    size: 200%;

}

.intro {
    margin-bottom: 30%;
    margin-top: 70%;
}

a:hover {
    color: black ;
    background-color: #cfc ;
}

