.header-logo {
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -5%;
    z-index: 0;
}

.page-title {
    margin-left: 10%;
    margin-top: 2%;
}

h1 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-sections {
    font-size: 20px;
}

.page-sections-maps{
    
    margin-left: 70%;
    margin-top: -7%;
}

.page-sections-routes{
    margin-left: 78%;
    margin-right: 10%;
    margin-top: -3.5%;
}

.page-sections-shop{
    margin-left: 88%;
    margin-right: 10%;
    margin-top: -3.5%;
}

header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(111, 178, 199, .6);
}

.background {
    background: url("../img/hiking-banner.jpg");
    background-repeat: no-repeat;
    size: 200%;

}

.intro {
    margin-bottom: 30%;
    margin-top: 70%;
}

.writings {
    margin-top: 5%;
}