.bg-primary {
    background-color: #8CD9BD !important;
}

footer {
    display: block;
  }

.footer {
    margin-top: 1rem;
}

/* .card {
    border-radius: 5px;
} */

.card img {
    border-radius: 0.375rem 0.375rem 0 0;
}