.bg-primary {
    background-color: #8CD9BD !important;
}


footer {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    width: 100%;
}

* { 
    box-sizing: border-box; 
    margin:0;
    padding:0;
  }

